manifest {
    homePage = "https://github.com/esteinig/nf-mvp"
    mainScript = "main.nf"
    description = "A minimum viable pipeline in Nextflow"
    version = "0.1.0"
}

params {    
    help  = false
    debug = false
    
    fastq = "test/*.fq.gz"
    fasta = "test/*.fasta"
    outdir = "mvp-result"
    
    subsample = "100,50,10"

    // Parameters can be used in to control other configuration scope behaviour
    // from the commmand-line e.g. using Mamba with the conda profile:
    // `nextflow run main.nf -profile conda --mamba`

    mamba = false
    executor = "local"

    // Parameters in this file can be nested and are accessible from the command-line:
    // `nextflow run main.nf --minimap2.cpus 4 --minimap2.memory "8 GB"`
    
    minimap2 {
        cpus = 4
        memory = "4 GB"
    }
}

profiles {

    // Multiple profiles can be selected:
    // `nextflow run main.nf -profile test,conda`

    test {
        params.debug = true
        params.fastq = "$projectDir/test/*.fq.gz"
        params.fasta = "$projectDir/test/*.fasta"
        params.outdir = "mvp-test"
        params.subsample = "30,20,10"
    }

    conda {
        conda.enabled = true
        conda.useMamba = params.mamba
        process.conda = "$projectDir/env/conda.yml"
    }
}

process {
    
    // Executor engine for all processes read more about executors here: 
    // https://www.nextflow.io/docs/latest/executor.html

    executor = params.executor

    // Resources for specific process labels - these are available in 
    // the `$task` variable in each process e.g. `$task.cpus`

    withLabel: minimap2 { 
        cpus = params.minimap2.cpus
        memory = params.minimap2.memory 
    }
}