manifest {
    homePage = "https://github.com/esteinig/nf-mvp"
    mainScript = "main.nf"
    description = "A minimum viable pipeline in Nextflow"
    version = "0.1.0"
}

params {    
    help  = false
    debug = false
    fastq = "test/*.fq.gz"
    fasta = "test/*.fasta"
    outdir = "mvp-result"
    subsample = "100,50,10"
}

profiles {
    test {
        params.debug = true
        params.fastq = "$projectDir/test/*.fq.gz"
        params.fasta = "$projectDir/test/*.fasta"
        params.outdir = "mvp-test"
        params.subsample = "30,20,10"
    }
}