manifest {
    homePage = 'https://github.com/esteinig/nf-mvp'
    description = 'Minimum viable pipeline scaffold in Nextflow'
    mainScript = 'main.nf'
    version = '0.1.0'
}

params {
    help      = false
    debug     = false
    fastq     = "test/*.fq.gz"
    fasta     = "test/*.fasta"
    samples   = "100,50,10"
    outdir    = "mvp-result"
}

profiles {
    
    // A workflow testing profile using the 
    // project directory directive to enable 
    // direct execution from the repository

    test {
        params.debug   = true
        params.fastq   = "$projectDir/test/*.fq.gz"
        params.fasta   = "$projectDir/test/*.fasta"
        params.samples = "100,10"
        params.outdir  = "mvp-test"
    }
}